<!-- Not implemented <nav id="tagbar">
  <ul>
    <li><a href="">Burgers</a></li>
    <li><a href="">Pasta</a></li>
    <li><a href="">Chinese</a></li>
    <li><a href="">Vegan</a></li>
    <li><a href="">Mexican</a></li>
  </ul>
</div> -->

<% recipes.forEach(function(r) { %>
<article class="stream">
  <img id="screen" src="/_/img/<%= r.image %>" alt="" />
  <div id="points">
    <div id="up">&nbsp;</div>
    <div id="count"><%= r.points %></div>
    <div id="down">&nbsp;</div>
  </div>
  <h1><a href="/recipe/<%= r._id %>"><%= r.name %></a></h1>
  <div id="streamby">by <a href="">No one</a></div>
  <div id="content"><%= r.description %></div>
</article>
<% }); %>

<!--<aside>
  <h2>Sidebar Content</h2>
</aside>-->