<article class="stream">
  <img id="screen" src="/_/img/<%= r.image %>" alt="" />
  <h1><%= r.name %></h1>
  <div id="streamby">by <a href=""><%= r.author %></a>, last edit by <a href=""><%= r.lasteditor %></a></div>
  <div id="content"><%= r.description %></div>
<!--   <div><a href="/recipe/edit/<%= r._id %>">Edit</a></div> -->
  <div id="commands">
    <ul>
      <li id="actions">Actions:</li>
      <li id="edit"><a href="/recipe/edit/<%= r._id %>">Edit this recipe</a></li>
      <li id="fork"><a href="/recipe/fork/<%= r._id %>">Fork this recipe</a></li>
    </ul>
  </div>
</article>

<article class="document">
<%- instructions %>
</article>