<article class="stream">
  <img id="screen" src="/_/img/<%= r.image %>" alt="" />
  <div id="points">
    <div id="up">&nbsp;</div>
    <div id="count"><%= r.points %></div>
    <div id="down">&nbsp;</div>
  </div>
  <h1><%= r.name %></h1>
  <div id="streamby">by <a href="">No one</a></div>
  <div id="content"><%= r.description %></div>
<!--   <div><a href="/recipe/edit/<%= r._id %>">Edit</a></div> -->
  <div id="commands">
    <ul>
      <li id="edit"><a href="/recipe/edit/<%= r._id %>">Edit this recipe</a></li>
    </ul>
  </div>
</article>

<article class="document">
<%- instructions %>
</article>